.outerNavBar {
    background: white;
    height: 55px;
    width: 100vw;
    box-shadow: 0px 1.5px 4px rgba(0, 0, 0, 0.2); /* Adjust the values for a sharper shadow */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

html, body {
    margin: 0;
    background: #f0f0f0;
}

a {
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
    font-size: 14px;
}

#leftNavContent, #rightNavContent {
    display: flex;
    align-items: center;
    margin: 20px;
    width: 40%;
}

#leftNavContent a, #rightNavContent a {
    margin: 20px;
}

#rightNavContent {
    display: flex;
    align-items: center;
    justify-content: end;
}

.outerNavBar a:hover {
    color: #8f8e8e;
}

@media screen and (max-width: 1400px) {
    #leftNavContent {
        display: none;
    }

    #filter, #filterSvg {
        display: none;
    }

    #logo {
        margin: 20px;
    }


}

@media screen and (min-width: 1400px) {
    #hamburger-container {
        display: none;
    }
}


@media screen and (max-width: 700px){
    #leftNavContent {
        display: none;
    }

    #rightNavContent {
        display: none;
    }

    #filter, #filterSvg {
        display: none;
    }

    #logo {
        margin: 20px;
    }
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 1050px;
    width: 90%;
    margin: auto;
}

.navbar {
    width: 100%;
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}

.navbar .menu-items {
    display: flex;
}

.navbar .nav-container li {
    list-style: none;
}

.navbar .nav-container a {
    text-decoration: none;
    color: #0e2431;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
}

.navbar .nav-container a:hover {
    font-weight: bolder;
}

.nav-container {
    display: block;
    position: relative;
    height: 60px;
}

.nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
}

.nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
    padding-top: 120px;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    height: 100vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
}

.navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
}

#filterSvg {
    height: 30px;
    margin-right: 40px
}

#loginSvg {
    height: 30px;
}
.logo {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 1.2rem;
    color: #0e2431;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
}

.cinema-container {
    display: flex;
    align-items: flex-start; /* Align items vertically at the top */
}

#cinemaSeats {
    /* Your existing styles for cinema seats */
}

#selectedSeatsContainer {
    border: 2px solid black;
    padding: 10px;
    margin-left: 20px; /* Add some spacing between cinema seats and selected seats */
    min-width: 150px;

}

#seatsSelected {

}


.nav-container input[type="checkbox"]:checked ~ .logo {
    display: none;
}

.cinema-seat {
    max-height: 25px;
    margin: 3px;
}
.marked-cell{
    background: green;
}
.reserved-seat {
    background: red;
}