#login-form {
    display: none;
    border: 1px solid black;
    z-index: 5;
    position: absolute;
    top: 10%;
    right: 0;
    width: 550px;
    padding: 20px;
    background-color: rgb(238, 238, 238);
    color: black;
    box-shadow: 0 4px 20px #0000001a;
    border-radius: 2px;
    border-bottom-left-radius: 25px;
    transition: .4s, .4s;
    transition: opacity 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out forwards; /* CSS animation for fading in */

}

#login-form.hidden{
    animation: fadeOut 0.3s ease-out forwards; /* Use fadeOut animation for hiding */
}

    /* Keyframes for the fadeIn animation */
    @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }

      @keyframes fadeOut {
        from {
          opacity: 1;
        }
        to {
          opacity: 0;
        }
      }

.movie-card {
    height: 525px;
    width: 325px;
    display: inline-block;
    margin: 20px;
    margin-bottom: 70px;
}

#close {
    position: absolute;
    right: 5%;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.movie-card {
    max-height: 90%;
    border-radius: 5px;
}

.movie-title {
    margin-top: 5px;
    font-size: 20px;
    text-align: start;
    font-weight: bold;
}

.movie-btns-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.read-more-btn {
    width: 150px;
    height: 44px;
    border-radius: 35px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid darkgrey;
}

.read-more-btn:hover {
    background: black;
    color: white;
}

.tickets-btn {
    width: 150px;
    height: 44px;
    background: darkred;
    border-radius: 35px;
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.tickets-btn:hover {
    background: #2d0000;
}

.ticket-btn-icon {
    max-height: 80%;
}

.movie-poster-img {
    border-radius: 5px;
    height: 487px;
    width: 324.66px;
}

.movie-poster-img:hover {
    transform: scale(1.02); /* Increase size by 10% (1 + 0.1) */
    transition: transform 0.2s ease; /* Add a smooth transition effect */
}
