* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

#login-form {
    display: none;
    border: 1px solid black;
    z-index: 5;
    position: absolute;
    top: 10%;
    right: 0;
    width: 550px;
    padding: 20px;
    background-color: rgb(238, 238, 238);
    color: black;
    box-shadow: 0 4px 20px #0000001a;
    border-radius: 2px;
    border-bottom-left-radius: 25px;
    transition: .4s, .4s;
    transition: opacity 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out forwards; /* CSS animation for fading in */

}

#login-form.hidden{
    animation: fadeOut 0.3s ease-out forwards; /* Use fadeOut animation for hiding */
}

    /* Keyframes for the fadeIn animation */
    @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }

      @keyframes fadeOut {
        from {
          opacity: 1;
        }
        to {
          opacity: 0;
        }
      }

.movie-card {
    height: 525px;
    width: 325px;
    display: inline-block;
    margin: 20px;
    margin-bottom: 70px;
}

#close {
    position: absolute;
    right: 5%;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.movie-card {
    max-height: 90%;
    border-radius: 5px;
}

.movie-title {
    margin-top: 5px;
    font-size: 20px;
    text-align: start;
    font-weight: bold;
}

.movie-btns-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.read-more-btn {
    width: 150px;
    height: 44px;
    border-radius: 35px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid darkgrey;
}

.read-more-btn:hover {
    background: black;
    color: white;
}

.tickets-btn {
    width: 150px;
    height: 44px;
    background: rebeccapurple;
    border-radius: 35px;
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.tickets-btn:hover {
    background: #2d0000;
}

.ticket-btn-icon {
    max-height: 80%;
}

.movie-poster-img {
    border-radius: 5px;
    height: 487px;
    width: 324.66px;
}

.movie-poster-img:hover {
    transform: scale(1.02); /* Increase size by 10% (1 + 0.1) */
    transition: transform 0.2s ease; /* Add a smooth transition effect */
}

#signup-button {
    width: 100%;
    padding: 10px 20px;
    font-weight: bold;
    color: white;
    background-color: rebeccapurple;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: background-color 0.3s;
}

#signup-button:hover {
    background-color: #4B2990;
}

#log-in-button {
    width: 100%;
    padding: 10px 20px;
    font-weight: bold;
    color: white;
    background-color: rebeccapurple;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: background-color 0.3s;
}

#log-in-button:hover {
    background-color: #4B2990;
}

#signup-ref-button {
    width: 100%;
    padding: 10px 20px;
    font-weight: bold;
    color: white;
    background-color: rebeccapurple;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: background-color 0.3s;
}

#signup-ref-button:hover {
    background-color: #4B2990;
}

.table-heading {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.custom-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    font-size: 18px;
    border-radius: 15px;
    overflow: hidden;
}

.custom-table th {
    background-color: rebeccapurple;
    color: #fff;
    padding: 10px;
}

.custom-table td,
.custom-table th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 10px;
}

.custom-table tbody tr:hover {
    background-color: #fdfdfd;
}

#add-films-template {
    display: flex;
    margin-top: 100px   ;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#add-film-form {
    margin-bottom: 20px;
}

#film-input {
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    width: 300px;
}

#inspect-film {
    margin-top: 10px;
}

#inspect-btn, #add-film-btn {
    padding: 10px 20px;
    border-radius: 4px;
    background-color: rebeccapurple;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#inspect-btn:hover, #add-film-btn:hover {
    background-color: #4B2990;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
  }
  
  /* Modal Content */
  .modal-content-film {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30vw ;
  }
  
  /* Close button */
  .close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    float: right;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .h1-text {
    font-weight: bolder; 
    font-size: 20px; 
    text-align: center;
    display: inline-block;
    margin-right: 10px;
  }